.recipe-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.recipe-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-content {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-content h3 {
    color: #007bff;
    margin: 0 0 10px 0;
}

.recipe-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recipe-content ol {
    list-style-type: decimal;
    padding-left: 20px;
}
