body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
}

.header, .footer {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1, .footer h1 {
    font-family: 'Playwrite AT', sans-serif;
    color: #000000;
    margin: 0;
}

.header a, .footer a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    font-weight: bold;
}

.header a:hover, .footer a:hover {
    color: #e0f7fa;
}

.main-content {
    padding: 20px;
    background-color: #e0f7fa;
}

.section-title {
    margin: 40px 0 20px;
    font-size: 24px;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    font-family: 'Playwrite AT', sans-serif;
}

.recipe-day, .recipe-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.recipe-day img, .recipe-section img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.recipe-day-content, .recipe-content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-content h3, .recipe-day-content h3 {
    color: #007bff;
    margin: 0 0 10px 0;
}

.recipe-content p, .recipe-day-content p {
    color: #333333;
    margin: 0 0 20px 0;
}

.recipe-content button, .recipe-day-content button, .recipe-content a button, .recipe-day-content a button {
    background-color: #007bff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.recipe-content button:hover, .recipe-day-content button:hover, .recipe-content a button:hover, .recipe-day-content a button:hover {
    background-color: #0056b3;
}

.recipe-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recipe-images img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}


.recipe-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.recipe-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-content {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-content h3 {
    color: #007bff;
    margin: 0 0 10px 0;
}

.recipe-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recipe-content ol {
    list-style-type: decimal;
    padding-left: 20px;
}
